<form [formGroup]="form">
    <label for="oldPass">Old Password</label>
    <input formControlName="oldPass" type="password" class="form-control" id="oldPass" (click)="log(oldPass)">
    <div *ngIf="oldPass.touched && oldPass.invalid">
        <div *ngIf="oldPass.errors.required"class="alert alert-danger">Old Password is required</div>
        <div *ngIf="oldPass.errors.matchOld"class="alert alert-danger">Old Password doe not match</div>
    </div>
    <div *ngIf = "oldPass.pending">Loading...</div>
    <div formGroupName="newPassword">
        <label for="newPass">New Password</label>
        <input formControlName="newPass" type="password" class="form-control" id="newPass">
        <div *ngIf="newPass.touched && newPass.invalid" class="alert alert-danger" >New Password  required </div>
        <label for="confirmPass">Confirm Password</label>
        <input formControlName="confirmPass" type="password" class="form-control" id="confirmPass">
        <div *ngIf="newPassword.touched && newPassword.invalid" class="alert alert-danger" >Confirm Password required</div>     
        <div *ngIf="newPassword.invalid && newPassword.errors.confirmPass" class="alert alert-danger">New Password does not match</div>
        <div *ngIf = "newPassword.pending">Loading...</div>
    </div> 
    
    <button class="btn btn-primary"> Submit </button>
</form>
